<div class="container"> 
  <div class="row">
    <div class="col-md-6 my-3">
      <h3 class="mb-2">タグ編集中</h3>
      <%= render 'form', tag: @tag %>
    </div>
    <div clas="col-md-6 my-3">
      <h3 class="my-3">登録済みタグ一覧</h3>
      <% @tags.each do |tag| %>
        <% tag_color = "badge badge-primary" %>
        <%= link_to "##{tag.name}", tag, class: "#{tag.color}" %>
        <%= link_to '編集', edit_tag_path(tag) %>
        <%= link_to '削除', tag, method: :delete, data: { confirm: '完全に削除しますか？' } %>
        <br/>
      <% end %>
    </div>
  </div>
</div>